nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 0 10px;
    line-height: 50px;
    background-color: #F9F9F9;
    color: #333;
    text-decoration: none;
}

nav ul li:hover > ul {
    display: block;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 50px;
}

.extended-product-detail {
    background-color: var(--white);
    width: 360px;
    top: 61px;
    padding-bottom: 24px;
    position: fixed;
    right: 0;
}
.product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    /* position absolute siempre ubica al elemento en la posicion 0,0 del padre a partir de ahi comenzamos a moverlo con los atributos de abajo */
    top: 24px;
    left: 24px;
    /* z-index indica el orden de un elemento posicionado y sus descendientes. Cuando varios elementos se superponen, los elementos con mayor valor z-index cubren aquellos con menor valor. */
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
    display:flex
}
.product-detail-close:hover {
    cursor: pointer;
    background: var(--hospital-green);
}
.product-detail-close img {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 20px;
}
.extended-product-detail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 24px 24px;
}
.extended-product-info {
    margin: 24px 24px 0 24px;
}
.extended-product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.extended-product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
}
.container-cantidades {
    display: flex;
    align-items: flex-start;
}
.container-cantidades p {
    margin: 0px;
}
.container-precios {
    width: 270px;
    border-radius: 20px 20px 20px 20px;
    height: 91px;
    overflow-y: auto;
    position: relative;
    top: -26px;
    left: 15px;
}
.container-precios div {
    width: 150px;
    cursor: pointer;
}
.precios p:nth-child(1) {
    margin: 0px;
}
.precios p:nth-child(2) {
    margin: 0px;
}
.precios {
    display: inline-flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 4px 8px 4px 8px;
    padding: 8px;
    border-radius: 10px 10px 10px 10px;
}
/* .precios p {
    margin: 0px;
} */



.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    /* quita el borde negro que viene por defecto para poder que quede es solo badgraund-color que nosotros le pusimos */
    border: none;
    width: 100%;
    /* este cursor pointer es para que caundo pasemos por arriba del boton ya no me salga la flecha sino una manito indicando que estoy arriba del boton */
    cursor: pointer;
    height: 50px;
}
.primary-button img {
    height: 50px;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}